.rotator {
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}

head {
	height: 100%;
}

body {
	background-color: #00FFFF;
	overflow: hidden;
	height: 100%;
}

p {
	background-color: #FF0000;
}

div {
}

.circle {
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#img1 {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	border-radius: 50%;
}


#img3 {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	visibility: visible;
	pointer-events: none;
}
