.rotator {
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}

body {
	background-color: #00FFFF;
	overflow: hidden;
}

p {
	background-color: #FF0000;
}

div {
	position: relative:
}

.circle {
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#img1 {
	width: 100%;
	height: 100%;
	object-fit: contain;
}


#img3 {
	width: 100%;
	height: 100%;
	object-fit: contain;
	visibility: visible;
	pointer-events: none;
}
